<div class="list-nav">
  <ul class="inline">
    <li>
      <a href="{{site.baseurl}}/docs/quickstart">Quick Start</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/docs/configuration">Configuration</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/docs/file-loading">File Loading</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/docs/models">Models</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/docs/models">Controllers</a>
    </li>
  </ul>
  <ul class="inline">
    <li>
      <a href="{{site.baseurl}}/docs/dependency-management">Dependency Management</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/docs/middleware">Middleware</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/docs/logging">Logging</a>
    </li>
  </ul>
</div>